<div class="meal-selector row row-centered">
  <%- box_variants.each do |variant| %>
    <div class="col-xs-12 col-md-4 col-centered text-center meal">
      <div class="image">
        <%= image_tag variant.display_image.attachment.url(:large) %>
        <h4><%= variant.name %></h4>
      </div>
      <div class="box-controls display-4">
        <i class="fa fa-3 fa-minus-circle remove" aria-hidden="true"></i>
        <input class="border-0 col-4 text-right" type="number" name="<%= preference_scope %>[<%= variant.id %>]" value="<%= preferable_value(preferable.box_preference, variant.id, @order) %>" readonly>
        <i class="fa fa-3 fa-plus-circle add" aria-hidden="true"></i>
      </div>
    </div>
  <% end %>
</div>