<div class="meal-selector row row-centered">
  <%- box_variants.each do |variant| %>
    <div class="col-xs-12 col-md-4 col-centered text-center meal">
      <label class="meal-selection">
        <input class="hidden" type="checkbox" name="<%= preference_scope %>" value="<%= variant.id %>" <%= is_checked(preferable, variant) %>>
        <div class="image">
          <%= image_tag variant.display_image.attachment.url(:large) %>
          <h4><%= variant.name %></h4>
        </div>
      </label>
    </div>
  <% end %>
</div>