<% @user.subscriptions.where(state: 'active').each do |subscription| %>
  <div class="manage-subscription">
		<h2>My Next Order (<span class="actionable-date-update"><%= subscription.actionable_date.strftime("%B %d")  %></span>)</h2>
		<div class="row">
      <div class="col-xs-12 col-md-8">
        <%= form_with url: "/api/v1/subscriptions/#{subscription.id}", method: 'put', class: 'menu meal-selector' do |form| %>
          <%= hidden_field_tag(:token, @user.spree_api_key) %>
          <%= render partial: 'solidus_subscription_boxes/subscription_boxes/box_variants',
            locals: {
              box_variants: SolidusSubscriptionBoxes::SubscriptionPeriod.period_for_date(subscription.actionable_date).variants,
              preference_scope: "subscription[box_preference_attributes][preference]",
              preferable: subscription
            }
          %>
          <div class="row">
            <div class="col-xs-12 content text-center">
              <%= form.submit 'Update My Order', class: "btn btn-primary btn-large purchase-link meal-update" %>
            </div>
          </div>
        <% end %>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="row">
          <div class="col-xs-12 content text-center">
            <%= form_with url: "/api/v1/subscriptions/#{subscription.id}/skip", class: 'menu' do |form| %>
              <%= hidden_field_tag(:token, @user.spree_api_key) %>
              <%= form.submit 'Skip My Next Order', class: "btn btn-primary btn-large purchase-link" %>
            <% end %>
          </div>
          <div class="col-xs-12 content text-center">
            <%= form_with url: "/api/v1/subscriptions/#{subscription.id}/cancel", class: 'menu' do |form| %>
              <%= hidden_field_tag(:token, @user.spree_api_key) %>
              <%= form.submit 'Cancel', class: "btn btn-primary btn-large purchase-link" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
	</div>
<% end %>