<div class="container-fluid">
  <section class="how-it-works">
    <div class="row text-center how-it-works background-grey">
      <h1>Here's How It Works</h1>
      <div class="col-xs-12 col-sm-3">
        <h2 class="statistic">3</h2>
        <h4>Delicious vegetarian lunches delivered every week</h4>
      </div>
      <div class="col-xs-12 col-sm-3 border-right">
        <h2 class="statistic">Sunday</h2>
        <h4>Food shows up at your door</h4>
      </div>
      <div class="col-xs-12 col-sm-3 border-right">
        <h2 class="statistic">$36</h2>
        <h4>Paid Weekly<h4>
      </div>
      <div class="col-xs-12 col-sm-3 border-right">
        <h2 class="statistic">20</h2>
        <h4>Pounds of greenhouse emissions potentially saved every week</h4>
      </div>
    </div>
  </section>
</div>

<div class="menu">
  <h1 class="text-center">Select your first three meals</h1>
  <div>
    <%= form_for :order, url: '/orders/populate' do |f| %>
      <%= render partial: 'box_variants', locals: {box_variants: @box_variants, preference_scope: "box_preference_attributes[preference][]", preferable: f.object} %>
      <div class="row">
        <div class="col-xs-12 content text-center">
          <%= hidden_field_tag :variant_id,  @variant.id %>
          <%= hidden_field_tag :quantity, 1 %>
          <%= hidden_field_tag :'subscription_line_item[quantity]', 1 %>
          <%= hidden_field_tag :'subscription_line_item[subscribable_id]', 1 %>
          <%= hidden_field_tag :'subscription_line_item[interval_length]', 1 %>
          <%= hidden_field_tag :'subscription_line_item[interval_units]', 'week' %>
          <%= f.submit 'Choose 3 More', onclick: "window.dataLayer.push({event: 'click', clickAction:'selectorPurchase'})", class: "btn btn-primary btn-large purchase-link meal-update", disabled: 'disabled', :'data-disable-with' => 'Submitting...' %>
        </div>
      </div>
    <% end %>
  </div>
</div>

